*{
    color: white;
}
.titulo{
    background-color: red;
    font-size: 32px;
    text-align: center;
}

.classSelector{
    background-color: salmon;
    color: black;
    font-size: 18px;
}

.cooler{
    font-size: 25px;
}

#number2{
    font-size: 30px;
    color: blue;
}
#number4{
    background-color: greenyellow;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.button1, .button2{
     font-family: "Arial", Helvetica Neue, Helvetica, sans-serif;
    font-size: 28px;

}

.button1{
    background-color: black;
    color: white;
}

.button2{
    background-color: yellow;
    color: black;
}

.avatar.proportioned{
    width: 300px;
    height: auto;
    background-color: red;
}

.avatar.distorted{
    width: 200px;
    height: 400px;
    background-color: transparent;

}